on early-boot
    # set property ro.hardware.fingerprint for vendor HAL library load
    setprop ro.hardware.fingerprint fpc

	setprop ro.hardware.nfc_nci nqx.default

on post-fs-data
    mkdir /data/fpc 0700 system system
    chown system system /sys/devices/soc/soc:fpc1020/irq
    chown system system /sys/devices/soc/soc:fpc1020/wakeup_enable

on boot
    # permission for NFC
    setprop ro.nfc.port "I2C"
    chmod 0660 /dev/nq-nci
    chown nfc nfc /dev/nq-nci

service fps_fpc_hal /vendor/bin/hw/android.hardware.biometrics.fpc@2.1-service
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system uhid input
